body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(https://us.123rf.com/450wm/grekoff/grekoff0909/grekoff090900009/5607978-black-colored-pencil-black-background.jpg?ver=6) ; */
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* shopping card */
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
}
.card .card-image .card-title{
  color: rgb(33, 32, 119);
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
  color: #c55559;
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 200px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
  color:rgb(0, 0, 0);
}
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
.material-icons{
  font-size: 2.4em;
  cursor: pointer;
}
.card{
  width: 300px;
}
.card .card-image .card-title{
  color: rgb(241, 237, 237);
  font-weight: 400
}
.cart{
  margin-top:40px;
}
.collection .collection-item{
  display: flex;
}
.collection-item.avatar .title {
  font-size: 20px;
  font-weight: 500;
   color: rgb(212, 101, 103);
  display: block;
  margin-bottom: 20px;
  
}
.collection .collection-item img{
  width: 150px;
  margin-right: 25px;
}
.item-desc{
  align-self:center;
}

/* form */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #0f7cf8;
}

html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(177, 180, 233, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
} */

.auth-wrapper .form-control:focus {
  border-color: #c8dcf7;
  box-shadow: none;
}
/* 
.auth-wrapper h3 {
  text-align: center;
  margin: 20;
  line-height: 5;
  padding-bottom: 20px;
}

/* remember */
.custom-control-label {
  font-weight: normal;
  font-size: small;
}

.forgot-password,
.forgot-password a {
  text-align: left;
  font-size: medium;
  padding-top: 5px;
  color: #f1eeee;
}

.forgot-password a {
  color: #126bf1;
  font-size: larger; 
}